#wrapper {
  height: auto;
  margin-left: 3.2rem;
  margin-right: 5rem;
  color: white;
  min-height: 3.5rem;
}

#smart-scenarios{
  margin: 0;
  list-style: none;
}

.smart-scenarios-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
}

.smart-scenarios-column{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: left;
  width: 25rem;
  max-height: 40rem;
  z-index: 1;
  position: absolute;
  background-color: black;
  border-radius: 0.5rem;
}

#manage-and-arrow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-right: 1rem;
}

#smart-scenario {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 22rem;
  padding: 0.3rem 0.5rem 0.3rem 0.5rem;
  margin-right: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border: 1px solid blueviolet;
  border-radius: 0.5rem;
  color: transparent;
  background-image: linear-gradient(45deg, dodgerblue, purple, red);
  -webkit-background-clip: text;
}

.control-button {
  cursor: pointer;
}

#manage-smart-scenarios {
  padding: 0.3rem;
  margin-right: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  color: transparent;
  background-image: linear-gradient(45deg, dodgerblue, purple, red);
  -webkit-background-clip: text;
}

.arrow {
  width: 2rem;
  height: auto;
  cursor: pointer;
}

@media screen and (max-width: 960px) {
  #wrapper {
    margin-right: 11rem;
  }
}


