.chat-container {
  border: 2px solid black;
  border-radius: 0.5rem;
  margin: 1.5rem 1rem 1.5rem 1rem;
  position: fixed;
  bottom: 0.1rem;
  top: 8rem;
  display: flex;
  flex-direction: column;
}

#chat-header {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  background-image: linear-gradient(45deg, dodgerblue, purple, red);
  display: flex;
  justify-content: right;
  height: 35px;
  border-bottom: 2px solid black;
}

#arrow {
  margin-right: 1rem;
  margin-bottom: 0.2rem;
}

#down-arrow {
  width: 2rem;
  height: auto;
}

#arrow:hover {
  cursor: pointer;
}

#suggestion {
  border: 1px solid black;
  border-radius: 0.3rem;
  background-color: slategrey;
  padding: 0.2rem;
  margin-right: 0.2rem;
}

#suggestion:hover {
  cursor: pointer;
}

.messages {
  padding: 10px;
  flex-grow: 1;
  overflow-y: auto;
  min-height: 0;
}

.input-area {
  /*height: 50px;*/
  display: flex;
}

textarea {
  border: none;
  height: auto;
  margin: 0.6rem;
  color: lightgrey;
  background-color: #464956;
  border-radius: 0.5rem;
  flex-grow: 1;
  padding: 0.3rem;
  font-size: 1rem;
  resize: none;
}

textarea:focus {
  outline: none; /* Disable the default focus outline */
}

#send-icon {
  background-color: transparent;
  width: 1.5rem;
  height: auto;
}

#send-button {
  margin-right: 0.3rem;
  border: none;
  background-color: transparent;
}

#send-button:hover {
  cursor: pointer;
}

.sent {
  background-color: lightgrey;
  text-align: right;
  margin-left: 1.5rem;

}

.received {
  background-color: #C3B1E1;
  margin-right: 1.5rem;
  text-align: left;
}

#message-text {
  padding: 0.3rem;
  border-radius: 0.5rem;
}

#error-message {
  padding: 0.3rem;
  border-radius: 0.5rem;
  background-color: #464956;
  color: darkgrey;
}

#unset-button {
  background-color: black;
  border-radius: 0.3rem;
  color: darkgrey;
  cursor: pointer;
  border: none;
  padding: 0.2rem;
}

.loader-outside {
  display: flex; /* or block */
  justify-content: left; /* Center the loader horizontally */
  align-items: flex-end; /* Center the loader vertically */
  background-color: #464956;
  border-radius: 0.5rem;
  height: 1rem;
  width: 10rem;
  padding: inherit;
}

.loader {
  width: 0.5rem;
  aspect-ratio: 1;
  border-radius: 50%;
  animation: l5 1s infinite linear alternate;
}
@keyframes l5 {
  0%  {box-shadow: 0.7rem 0 dimgrey, -0.7rem 0 grey;background: dimgrey }
  33% {box-shadow: 0.7rem 0 dimgrey, -0.7rem 0 grey;background: grey}
  66% {box-shadow: 0.7rem 0 grey,-0.7rem 0 dimgrey; background: grey}
  100%{box-shadow: 0.7rem 0 grey,-0.7rem 0 dimgrey; background: dimgrey }
}

@media screen and (max-width: 1270px) {
  .chat-container {
    top: 11rem;
  }
}
