#battery {
  border: 2px solid black;
  width: 6rem;
  height: 3rem;
  position: absolute;
  bottom: 8rem;
  left: 1.6rem;
  border-radius: 0.5rem;
  background-color: white;
}

#battery-top {
  border: 2px solid black;
  width: 0.5rem;
  height: 2rem;
  position: absolute;
  bottom: 8.5rem;
  left: 7.8rem;
  background-color: white;
}

#battery-1 {
  border: 2px solid black;
  width: 0.9rem;
  height: 2rem;
  position: absolute;
  bottom: 8.5rem;
  left: 2.2rem;
}

#battery-2 {
  border: 2px solid black;
  width: 0.9rem;
  height: 2rem;
  position: absolute;
  bottom: 8.5rem;
  left: 4.2rem;
}

#battery-3 {
  border: 2px solid black;
  width: 0.9rem;
  height: 2rem;
  position: absolute;
  bottom: 8.5rem;
  left: 6.2rem;
}

.battery-level-none {
  background-color: white;
}

.battery-level-low {
  background-color: red;
}

.battery-level-medium {
  background-color: yellow;
}

.battery-level-high {
  background-color: lawngreen;
}

#temp-hum-battery {
  display: flex;
  flex-direction: row;
}

.column {
  position: relative;
  border: 1px solid darkgrey;
  border-radius: 0.5rem;
  width: 10rem;
  height: 21rem;
  margin: 2rem;
  background: #f9e5e8;
  background: -webkit-linear-gradient(to right, #f2cad2, #f9e5e8);
  background: linear-gradient(to right, #f2cad2, #f9e5e8);
}

#humidity {
  background: #4AC29A;
  background: -webkit-linear-gradient(to right, #BDFFF3, #4AC29A);
  background: linear-gradient(to right, #BDFFF3, #4AC29A);
}

.high-temperature {
  background: red;
  background: -webkit-linear-gradient(to right, darkred, red);
  background: linear-gradient(to right, darkred, red);
}

.low-temperature {
  background: blue;
  background: -webkit-linear-gradient(to right, lightskyblue, blue);
  background: linear-gradient(to right, lightskyblue, blue);
}

.norm-temperature {
  background: yellow;
  background: -webkit-linear-gradient(to right, #ebda00, yellow);
  background: linear-gradient(to right, #ebda00, yellow);
}

.text {
  width: 8rem;
  padding: 0 0 0.5rem 1rem;
  position: absolute;
  font-size: 1.4rem;
  color: white;
  bottom: 0;
  text-align: center;
}

.value-number {
  width: 8rem;
  padding-left: 1rem;
  position: absolute;
  font-size: 2.5rem;
  color: white;
  top: 1rem;
  text-align: center;
}

.value-text {
  width: 8rem;
  padding-left: 1rem;
  position: absolute;
  font-size: 2.5rem;
  color: white;
  top: 1rem;
  text-align: center;
}

.humidity {
  width: 100%;
  height: 100%;
}

.bubble {
  position: absolute;
  top: 53%;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.8);
}

.small {
  width: 10px;
  height: 10px;
  left: 50%;
  animation: flow-s 2s linear infinite;
}

.small-l {
  width: 10px;
  height: 10px;
  left: 43%;
  animation: flow-s-l 0.9s linear infinite;
}

.s-medium {
  width: 20px;
  height: 20px;
  left: 43%;
  animation: flow-s 1.3s linear infinite;
}

.medium {
  width: 25px;
  height: 25px;
  left: 45%;
  animation: flow-m 0.8s linear infinite;
}

.large {
  width: 5px;
  height: 5px;
  left: 57%;
  animation: flow-l 0.7s linear infinite;
}

@keyframes flow-l {
  0% {
    top: 53%;
    left: 57%;
    opacity: 0;
  }
  25% {
    top: 49%;
    left: 57.5%;
    opacity: 1;
  }
  50% {
    left: 58%;
    opacity: 1;
  }
  75% {
    left: 57.5%;
    opacity: 1;
  }
  100% {
    top: 32%;
    left: 57%;
    opacity: 0;
  }
}

@keyframes flow-s {
  0% {
    top: 53%;
    left: 50%;
    opacity: 0;
  }
  25% {
    top: 49%;
    left: 51%;
    opacity: 1;
  }
  50% {
    top: 45%;
    left: 52%;
    opacity: 1;
  }
  75% {
    top: 41%;
    left: 51%;
    opacity: 1;
  }
  100% {
    top: 37%;
    left: 50%;
    opacity: 0;
  }
}

@keyframes flow-s-m {
  0% {
    top: 53%;
    left: 43%;;
    opacity: 0;
  }
  25% {
    top: 49%;
    left: 42.5%;
    opacity: 1;
  }
  50% {
    top: 45%;
    left: 42%;
    opacity: 1;
  }
  75% {
    top: 41%;
    left: 42.5%;
    opacity: 1;
  }
  100% {
    top: 37%;
    left: 43%;
    opacity: 0;
  }
}

@keyframes flow-m {
  0% {
    top: 53%;
    left: 45%;;
    opacity: 0;
  }
  25% {
    top: 48%;
    left: 44.5%;
    opacity: 1;
  }
  50% {
    top: 43%;
    left: 44%;
    opacity: 1;
  }
  75% {
    top: 38%;
    left: 44.5%;
    opacity: 1;
  }
  100% {
    top: 33%;
    left: 45%;
    opacity: 0;
  }
}

@keyframes flow-s-l {
  0% {
    top: 53%;
    left: 43%;;
    opacity: 0;
  }
  25% {
    top: 48%;
    left: 43.5%;
    opacity: 1;
  }
  50% {
    top: 43%;
    left: 44%;
    opacity: 1;
  }
  75% {
    top: 38%;
    left: 43.5%;
    opacity: 1;
  }
  100% {
    top: 33%;
    left: 43%;
    opacity: 0;
  }
}

@media screen and (max-width: 1040px) {
  .column {
    margin: 1rem;
  }
}

.snowflake {
  color: #fff;
  font-size: 1em;
  font-family: Arial;
  text-shadow: 0 0 1px #000;
}

@-webkit-keyframes snowflakes-fall {
  0% {
    top: 0
  }
  100% {
    top: 90%
  }
}

@-webkit-keyframes snowflakes-shake {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px)
  }
  50% {
    -webkit-transform: translateX(9px);
    transform: translateX(9px)
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px)
  }
}

@keyframes snowflakes-fall {
  0% {
    top: 0
  }
  100% {
    top: 90%
  }
}

@keyframes snowflakes-shake {
  0% {
    transform: translateX(0px)
  }
  50% {
    transform: translateX(9px)
  }
  100% {
    transform: translateX(0px)
  }
}

.snowflake {
  position: absolute;
  top: 0;
  z-index: 9999;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  -webkit-animation-name: snowflakes-fall, snowflakes-shake;
  -webkit-animation-duration: 10s, 3s;
  -webkit-animation-timing-function: linear, ease-in-out;
  -webkit-animation-iteration-count: infinite, infinite;
  -webkit-animation-play-state: running, running;
  animation-name: snowflakes-fall, snowflakes-shake;
  animation-duration: 10s, 3s;
  animation-timing-function: linear, ease-in-out;
  animation-iteration-count: infinite, infinite;
  animation-play-state: running, running
}

.snowflake:nth-of-type(0) {
  left: 1%;
  -webkit-animation-delay: 0s, 0s;
  animation-delay: 0s, 0s
}

.snowflake:nth-of-type(1) {
  left: 10%;
  -webkit-animation-delay: 1s, 1s;
  animation-delay: 1s, 1s
}

.snowflake:nth-of-type(2) {
  left: 20%;
  -webkit-animation-delay: 6s, .5s;
  animation-delay: 6s, .5s
}

.snowflake:nth-of-type(3) {
  left: 30%;
  -webkit-animation-delay: 4s, 2s;
  animation-delay: 4s, 2s
}

.snowflake:nth-of-type(4) {
  left: 40%;
  -webkit-animation-delay: 2s, 2s;
  animation-delay: 2s, 2s
}

.snowflake:nth-of-type(5) {
  left: 50%;
  -webkit-animation-delay: 8s, 3s;
  animation-delay: 8s, 3s
}

.snowflake:nth-of-type(6) {
  left: 60%;
  -webkit-animation-delay: 6s, 2s;
  animation-delay: 6s, 2s
}

.snowflake:nth-of-type(7) {
  left: 70%;
  -webkit-animation-delay: 2.5s, 1s;
  animation-delay: 2.5s, 1s
}

.snowflake:nth-of-type(8) {
  left: 80%;
  -webkit-animation-delay: 1s, 0s;
  animation-delay: 1s, 0s
}

.snowflake:nth-of-type(9) {
  left: 85%;
  -webkit-animation-delay: 3s, 1.5s;
  animation-delay: 3s, 1.5s
}


#lock {
  font-size: 5px;
  position: relative;
  width: 18em;
  height: 13em;
  border-radius: 2em;
  top: 33em;
  left: 7em;
  box-sizing: border-box;
  border: 3.5em solid red;
  border-right-width: 7.5em;
  border-left-width: 7.5em;
  margin: 0 0 6rem 0;
}

#lock:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  border: 2.5em solid red;
  width: 14em;
  height: 12em;
  left: 50%;
  margin-left: -7em;
  top: -12em;
  border-top-left-radius: 7em;
  border-top-right-radius: 7em;
}

#lock:after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  border: 1em solid red;
  width: 5em;
  height: 8em;
  border-radius: 2.5em;
  left: 50%;
  top: -1em;
  margin-left: -2.5em;
}

@media screen and (max-width: 1100px) {
  .column {
    margin: 2rem 1rem 2rem 1rem;
  }
}

@media screen and (max-width: 800px) {
  .column {
    margin: 2rem 0.5rem 2rem 0.5rem;
  }
}

@media screen and (max-width: 600px) {
  #temp-hum-battery {
    flex-direction: column;
  }
  .column {
    height: 10rem;
  }
  #temp-hum-battery {
    padding-left: 5rem;
  }
  #battery {
    bottom: 2.8rem;
  }
  #battery-top {
    bottom: 3.3rem;
  }
  #battery-1 {
    bottom: 3.3rem;
  }
  #battery-2 {
    bottom: 3.3rem;
  }
  #battery-3 {
    bottom: 3.3rem;
  }
}



