#rooms {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  font-size: 1.3rem;
  list-style: none;
  color: lightgrey;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 0 1 auto;
}

li {
  cursor: pointer;
  padding: 0.5rem;
  margin: 0.5rem 0.5rem 0.5rem 0.5rem;
  border-radius: 0.6rem;
}

#all-rooms:hover {
  color: dimgrey;
}

li:hover {
  color: dimgrey;
}

@media screen and (max-width: 700px) {
  #rooms {
    font-size: 1.1rem;
  }
}



