
#wrapper1{
  min-height: 83vh;
  display: flex;
  flex-direction: row;
  background-color: #2a2b33;
}

#wrapper2 {
  flex: 1 1 auto;
  margin-left: 3rem;
  margin-right: 3rem;
}

#scenarioTitle {
  text-align: center;
  border-bottom: 1px solid black;
  color: lightgrey;
  font-size: 3rem;
}

#input-name {
  color: lightgrey;
}

input[type="text"]{
  background-color: #2a2b33;
  border: 2px solid #7F00FF;
  border-radius: 0.3rem;
  margin-left: 0.1rem;
  font-size: large;
  padding: 0.3rem;
}

input[type="text"]:focus {
  outline: none; /* Disable the default focus outline */
  color: lightgrey;
}

#scenario-block {
  border-radius: 1rem;
  padding: 1rem;
  margin: 1rem 20rem 1rem 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #464956;
}

#scenario-block:hover {
  box-shadow: 5px 5px 3px dimgrey;
}

label {
  margin-left: 1rem;
}

#scenario-name {
  font-size: 1.75rem;
  color: lightgrey;
}

#inactive {
  font-size: 1.5rem;
}

#scenario-start-on {
  font-size: 1.75rem;
  cursor: pointer;
}

li {
  list-style: none;
}

.displayed {
  flex: 0 0 10rem;
}

.wifi-inside{
  margin: auto auto 20% auto;
  position: relative;
}

.wifi-outside{
  margin: auto;
  width: 25px;
  height: 25px;
  background-color: darkgrey;
  border-radius:50%;
  position: relative;
  animation: glow 2s forwards infinite;
  transform: translateY(50px);
}

@keyframes glow {
  0%{
    background-color: darkgrey;
  }
  5%{
    background-color: #7F00FF;
  }
  50%{
    background-color: #7F00FF;
  }
}

.wifi{
  width: 75px;
  height: 75px;
  border: 25px solid transparent;
  border-top-color: darkgrey;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: -50px;
  animation: glow1 2s forwards infinite;
}
@keyframes glow1 {
  15%{
    border-top-color: darkgrey;
  }
  20%{
    border-top-color: #7F00FF
  } 50%{
      border-top-color: #7F00FF
    }
}
.wifi:before{
  content: "";
  width: 165px;
  height: 165px;
  border: 25px solid transparent;
  border-top-color: darkgrey;
  border-radius: 50%;
  position: absolute;
  top: -75px;
  left: -70px;
  animation: glow2 2s forwards infinite;
}
@keyframes glow2 {
  25%{
    border-top-color: darkgrey;
  }
  30%{
    border-top-color: #7F00FF
  } 50%{
      border-top-color: #7F00FF
    }
}
.wifi:after{
  content: "";
  width: 260px;
  height: 260px;
  border: 25px solid transparent;
  border-top-color: darkgrey;
  border-radius: 50%;
  position: absolute;
  top: -125px;
  left: -117.5px;
  animation: glow3 2s forwards infinite;
}
@keyframes glow3 {
  35%{
    border-top-color: darkgrey;
  }
  40%{
    border-top-color: #7F00FF
  } 50%{
      border-top-color: #7F00FF
    }
}

#error-content {
  margin: 8rem 12rem 18rem 12rem;
  border: 1px solid #ffedea;
  background-color: #ffedea;
}

#error-title {
  text-align: center;
  color: brown;
}

#error-message {
  margin: 1.5rem;
  color: brown;
}

#error-button {
  background-color: #ffedea;
  color: brown;
  border-color: brown;
  margin-left: 1rem;
  margin-bottom: 1rem;
  padding: 0.2rem;
}

#error-button:hover {
  color: black;
  border-color: black;
  cursor: pointer;
}

@media screen and (max-width: 1400px) {
  #scenario-block {
    flex-direction: column;
  }
}

@media screen and (max-width: 1100px) {
  .displayed {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  #scenario-block {
    margin-right: 15rem;
  }
}

@media screen and (max-width: 700px) {
  #scenario-block {
    margin-right: 10rem;
  }
}

@media screen and (max-width: 600px) {
  #scenario-block {
    margin-right: 6rem;
  }
}
