
#wrapper1{
  min-height: 83vh;
  display: flex;
  flex-direction: row;
  background-color: #2a2b33;
  color: lightgrey;
}

#wrapper2 {
  background-color: #464956;
  flex: 1 1 auto;
  margin-left: 3rem;
  margin-right: 3rem;
}

#group-name {
  font-size: 2rem;
  margin-right: 1rem;
}

#title-and-ai {
  margin: 2rem 2rem 0 2rem;
  display: flex;
  flex-direction: column;
}

#unset-button {
  background-color: black;
  border-radius: 0.3rem;
  cursor: pointer;
  border: none;
  margin-left: 1rem;
  padding: 0.5rem;
  color: darkgrey;
}

#title-with-favourite {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.ai-analyses-header {
  font-size: 1.2rem;
  padding-left: 0.5rem;
  margin-right: 9rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  color: black;
  background-image: linear-gradient(45deg, dodgerblue, purple, red);
}

.ai-analyses-title {
  font-size: 1.2rem;
  color: transparent;
  background-image: linear-gradient(45deg, royalblue, mediumpurple, red);
  -webkit-background-clip: text;
  background-clip: text;
}

#red-color {
  color: red;
}

#black-color {
  color: black;
}

#ai-analyses {
  border: 1px solid black;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  margin: 0 9rem 0.5rem 0;
  background-color: #2a2b33;
}

.ai-analyses-text {
  padding: 0.5rem;
  color: darkgrey;
}

.displayed {
  flex: 0 0 10rem;
}

li {
  list-style: none;
}

#expand {
  font-size: 1.8rem;
  margin-left: 1rem;
  cursor: pointer;
}

.expand-ai {
  margin-left: 0.4rem;
  cursor: pointer;
}

#other-names {
  padding-left: 0;
}

#other-info {
  max-width: 35rem;
  padding-left: 0;
}

.other-info-details {
  margin: 1rem;
  font-size: 1.25rem;
}

#info-list {
  margin-right: 9rem;
  font-size: 1.75rem;
  display: flex;
  flex-direction: column;
}

.info {
  font-size: 1.5rem;
  margin: 1rem 1rem 0 1rem;
  padding-left: 1rem;
  border-bottom: 1px solid black;
}

.color-lightgrey {
  color: lightgrey;
}

.color-darkgrey {
  color: darkgrey;
}

#button-on-off {
  color: white;
  width: 3rem;
  cursor: pointer;
}

#button-favourite {
  background-color: #2a2b33;
  border: none;
  border-radius: 0.5rem;
  margin: 0.5rem 9rem 0.5rem 0;
  width: 10rem;
  height: 2rem;
  cursor: pointer;
  color: lightgrey;
}

#button-favourite:hover {
  color: grey;
}

#device-offline-message{
  color: orange;
  font-size: 1rem;
}

.value {
  margin-left: 0.5rem;
  font-size: 1.3rem;
  text-decoration: none;
}

.value-link{
  margin-left: 0.5rem;
  font-size: 1.2rem;
  text-decoration: none;
}

.value-device {
  font-size: 1.2rem;
  border: 1px solid black;
  margin: 0.5rem;
  width: 20rem;
  padding: 0.5rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#device-name-1 {
  text-decoration: none;
}

#device-name-1:hover {
  color: dimgrey !important;
}

.value-link:hover{
  color: dimgrey !important;
}

.other-info-value {
  overflow-wrap: break-word;
  font-size: 0.75rem;
  margin-left: 0.5rem;
}

.wifi-inside{
  margin: auto auto 20% auto;
  position: relative;
}

.wifi-outside{
  margin: auto;
  width: 25px;
  height: 25px;
  background-color: darkgrey;
  border-radius:50%;
  position: relative;
  animation: glow 2s forwards infinite;
  transform: translateY(50px);
}

@keyframes glow {
  0%{
    background-color: darkgrey;
  }
  5%{
    background-color: #7F00FF;
  }
  50%{
    background-color: #7F00FF;
  }
}

.wifi{
  width: 75px;
  height: 75px;
  border: 25px solid transparent;
  border-top-color: darkgrey;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: -50px;
  animation: glow1 2s forwards infinite;
}
@keyframes glow1 {
  15%{
    border-top-color: darkgrey;
  }
  20%{
    border-top-color: #7F00FF;
  } 50%{
      border-top-color: #7F00FF;
    }
}
.wifi:before{
  content: "";
  width: 165px;
  height: 165px;
  border: 25px solid transparent;
  border-top-color: darkgrey;
  border-radius: 50%;
  position: absolute;
  top: -75px;
  left: -70px;
  animation: glow2 2s forwards infinite;
}
@keyframes glow2 {
  25%{
    border-top-color: darkgrey;
  }
  30%{
    border-top-color: #7F00FF;
  } 50%{
      border-top-color: #7F00FF;
    }
}
.wifi:after{
  content: "";
  width: 260px;
  height: 260px;
  border: 25px solid transparent;
  border-top-color: darkgrey;
  border-radius: 50%;
  position: absolute;
  top: -125px;
  left: -117.5px;
  animation: glow3 2s forwards infinite;
}
@keyframes glow3 {
  35%{
    border-top-color: darkgrey;
  }
  40%{
    border-top-color: #7F00FF;
  } 50%{
      border-top-color: #7F00FF;
    }
}

#error-content {
  margin: 8rem 12rem 18rem 12rem;
  border: 1px solid #ffedea;
  background-color: #ffedea;
}

#error-title {
  text-align: center;
  color: brown;
}

#error-message {
  margin: 1.5rem;
  color: brown;
}

#error-button {
  background-color: #ffedea;
  color: brown;
  border-color: brown;
  margin-left: 1rem;
  margin-bottom: 1rem;
  padding: 0.2rem;
}

#error-button:hover {
  color: black;
  border-color: black;
  cursor: pointer;
}

.switch {
  padding-right: 0.25rem;
  z-index:2;
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #C3B1E1;
}

input:focus + .slider {
  box-shadow: 0 0 1px #C3B1E1;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round:before {
  border-radius: 50%;
}

span {
  border-radius: 1rem;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media screen and (max-width: 1440px) {
  #other-info {
    max-width: 30rem;
  }

}

@media screen and (max-width: 1360px) {
  #other-info {
    max-width: 25rem;
  }
}

@media screen and (max-width: 1280px) {
  #other-info {
    max-width: 20rem;
  }
  .value-device {
    width: 15rem;
    flex-direction: column;
  }
}

@media screen and (max-width: 1200px) {
  #other-info {
    max-width: 15rem;
  }
}

@media screen and (max-width: 1130px) {
  #other-info {
    max-width: 10rem;
  }
  .value-device {
    width: 12rem;
  }
}

@media screen and (max-width: 1090px) {
  .value-device {
    width: 9.5rem;
  }
}

@media screen and (max-width: 1040px) {
  .displayed {
    display: none;
  }
  #title-with-favourite {
    flex-direction: column;
  }
}
