* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 16px;
}

#wrapper1 {
  min-height: 100vh;
  background-color: #2a2b33;
}

header {
  z-index: 3;
  position: sticky;
  top: 0;
  /*height: 7rem;*/
  background-color: black;
}

footer {
  height: 4rem;
}

#more-info-link {
  padding-left: 3rem;
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
}

#more-info {
  margin-top: 1.5rem;
}

#error-content {
  margin: 8rem 12rem 18rem 12rem;
  border: 1px solid #ffedea;
  background-color: #ffedea;
}

#error-title {
  text-align: center;
  color: brown;
}

#error-message {
  margin: 1.5rem;
  color: brown;
}

#error-button {
  background-color: #ffedea;
  color: brown;
  border-color: brown;
  margin-left: 1rem;
  margin-bottom: 1rem;
  padding: 0.2rem;
}

#error-button:hover {
  color: black;
  border-color: black;
  cursor: pointer;
}
