.loader-outside {
  display: flex; /* or block */
  justify-content: left; /* Center the loader horizontally */
  align-items: flex-end; /* Center the loader vertically */
  height: 2.5rem;
  margin-left: 2rem;
  margin-bottom: 0.5rem;
}

.loader {
  width: 0.5rem;
  aspect-ratio: 1;
  border-radius: 50%;
  animation: l5 1s infinite linear alternate;
}
@keyframes l5 {
  0%  {box-shadow: 0.7rem 0 dimgrey, -0.7rem 0 grey;background: dimgrey }
  33% {box-shadow: 0.7rem 0 dimgrey, -0.7rem 0 grey;background: grey}
  66% {box-shadow: 0.7rem 0 grey,-0.7rem 0 dimgrey; background: grey}
  100%{box-shadow: 0.7rem 0 grey,-0.7rem 0 dimgrey; background: dimgrey }
}
