#error-content {
  margin: 8rem 12rem 18rem 12rem;
  border: 1px solid #ffedea;
  background-color: #ffedea;
}

#error-title {
  text-align: center;
  color: brown;
}

#error-message {
  margin: 1.5rem;
  color: brown;
}

#error-button {
  background-color: #ffedea;
  color: brown;
  border-color: brown;
  margin-left: 1rem;
  margin-bottom: 1rem;
  padding: 0.2rem;
}

#error-button:hover {
  color: black;
  border-color: black;
  cursor: pointer;
}
