.wifi-inside{
  margin: auto auto 20% auto;
  position: relative;
}

.wifi-outside{
  margin: auto;
  width: 25px;
  height: 25px;
  background-color: darkgrey;
  border-radius:50%;
  position: relative;
  animation: glow 2s forwards infinite;
  transform: translateY(50px);
}

@keyframes glow {
  0%{
    background-color: darkgrey;
  }
  5%{
    background-color: #7F00FF;
  }
  50%{
    background-color: #7F00FF;
  }
}

.wifi{
  width: 75px;
  height: 75px;
  border: 25px solid transparent;
  border-top-color: darkgrey;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: -50px;
  animation: glow1 2s forwards infinite;
}
@keyframes glow1 {
  15%{
    border-top-color: darkgrey;
  }
  20%{
    border-top-color: #7F00FF
  } 50%{
      border-top-color: #7F00FF
    }
}
.wifi:before{
  content: "";
  width: 165px;
  height: 165px;
  border: 25px solid transparent;
  border-top-color: darkgrey;
  border-radius: 50%;
  position: absolute;
  top: -75px;
  left: -70px;
  animation: glow2 2s forwards infinite;
}
@keyframes glow2 {
  25%{
    border-top-color: darkgrey;
  }
  30%{
    border-top-color: #7F00FF
  } 50%{
      border-top-color: #7F00FF
    }
}
.wifi:after{
  content: "";
  width: 260px;
  height: 260px;
  border: 25px solid transparent;
  border-top-color: darkgrey;
  border-radius: 50%;
  position: absolute;
  top: -125px;
  left: -117.5px;
  animation: glow3 2s forwards infinite;
}
@keyframes glow3 {
  35%{
    border-top-color: darkgrey;
  }
  40%{
    border-top-color: #7F00FF
  } 50%{
      border-top-color: #7F00FF
    }
}
