
#wrapper1 {
  min-height: 83vh;
  display: flex;
  flex-direction: row;
  background-color: #2a2b33;
}

#wrapper2 {
  flex: 1 1 auto;
  margin-left: 3rem;
  margin-right: 3rem;
}

#scenarioTitle {
  text-align: center;
  border-bottom: 1px solid black;
  color: lightgrey;
  font-size: 3rem;
}

#new-smart-scenario {
  border: 1px solid black;
  border-radius: 1rem;
  margin: 1rem 1rem 1rem 3.5rem;
  background-color: #25262e;
}

#plus-sign {
  cursor: pointer;
  margin: 0;
  text-align: center;
}

#actions {
  margin-top: 0.5rem;
  padding: 0.5rem;
  color: grey;
  border-radius: 0.5rem;
  background-color: #181818;
  width: auto;
  table-layout: auto;
  display: inline-block;
  overflow-y: auto;
  max-height: 20rem;
}

#action {
  border-radius: 1rem;
  background-color: #2a2b33;
  display: flex;
  flex-direction: row;
  margin: 1rem 1rem 1.5rem 1rem;
}

#action-date{
  align-items: flex-start;
  vertical-align: top;
  flex: 0 0 10%;
}

#action-comment {
  align-items: flex-start;
  vertical-align: top;
  flex: 0 0 20%;
}

#action-device {
  display: flex;
  flex-direction: row;
  flex: 0 0 60%;
}

#device-action-device {
  padding-left: 0.2rem;
  flex: 0 0 20%;
  word-wrap: break-word; /* or use overflow-wrap: break-word; */
  word-break: break-all;
  white-space: normal;
}

#device-action-state {
  padding-left: 0.2rem;
  flex: 0 0 20%;
}

#device-action-comment {
  flex: 0 0 57%;
  padding-left: 0.2rem;
}

#smart-scenario-error {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.2rem 1rem 0.2rem 1rem;
  color: grey;
}

#smart-scenario-error-text {
  margin-top: 0.5rem;
}

#plus {
  font-size: 2.8rem;
  color: transparent;
  background-image: linear-gradient(45deg, dodgerblue, purple, red);
  -webkit-background-clip: text;
}

#new-scenario-description {
  margin: 1rem 2rem 0 1rem;
  flex-grow: 1;
}

textarea {
  height: auto;
  width: 100%;
  border-radius: 0.5rem;
  background-color: #2a2b33;
  border: 1px solid dimgrey;
  font-size: 1rem;
  padding: 0.5rem;
  color: darkgrey;
}

textarea:focus {
  outline: none; /* Disable the default focus outline */
  color: darkgrey;
}

.arrow-new-scenario {
  width: 2.3rem;
  cursor: pointer;
  margin-right: 1rem;
}

#description-and-arrow-up {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#rooms-and-create-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 0.5rem;
}

#rooms {
  display: flex;
  flex-direction: row;
  justify-content: left;
  flex-wrap: wrap;
  margin: 0.5rem 0.5rem 0 1rem;
}

#room-suggestion {
  margin-left: 0;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: #181818;
  cursor: pointer;
  color: grey;
}

#room-suggestion:hover {
  color: lightgrey;
}

.colorful {
  color: transparent;
  background-image: linear-gradient(45deg, dodgerblue, purple, red);
  -webkit-background-clip: text;
}

.colorful-and-pointer {
  color: transparent;
  background-image: linear-gradient(45deg, dodgerblue, purple, red);
  -webkit-background-clip: text;
  cursor: pointer;
}

.glowing {
  animation: border-glow 3s infinite;
}
@keyframes border-glow {
  0% {
    border-color: darkviolet;
    box-shadow: 0 0 2px darkviolet;
  }
  50% {
    border-color: violet;
    box-shadow: 0 0 5px violet;
  }
  100% {
    border-color: darkviolet;
    box-shadow: 0 0 2px darkviolet;
  }
}

#create-button {
  margin: 0.5rem 1rem 0.5rem 0.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: #181818;
  border: none;
  color: grey;
}

#smart-scenario-block {
  background-color: #25262e;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  padding: 1rem;
  margin: 1rem;
  border: 1px solid black;
}

#smart-scenario-name-and-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#smart-scenario-name {
  font-size: 1.75rem;
  color: transparent;
  background-image: linear-gradient(45deg, dodgerblue, purple, red);
  -webkit-background-clip: text;
}

#control-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.control-button {
  margin-right: 0.5rem;
  width: 1.7rem;
  cursor: pointer;
}

#delete-icon {
  margin-right: 0.5rem;
  width: 2.3rem;
  cursor: pointer;
}

.arrow {
  width: 2.3rem;
  cursor: pointer;
}

#room-and-description {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: left;
}

#room {
  align-content: center;
  margin-right: 1rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: #181818;
  color: grey;
}

#description {
  padding: 0.5rem;
  color: grey;
  border-radius: 0.5rem;
  background-color: #181818;
}

td {
  padding: 0.5rem 0 0 0.5rem;
}

label {
  margin-left: 1rem;
}

li {
  list-style: none;
}

.displayed {
  flex: 0 0 10rem;
}

.loader-outside {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 2.5rem;
  margin-left: 2rem;
  margin-bottom: 0.5rem;
}

.loader {
  width: 0.9rem;
  aspect-ratio: 1;
  border-radius: 50%;
  animation: l5 1s infinite linear alternate;
}
@keyframes l5 {
  0%  {box-shadow: 1.1rem 0 dimgrey, -1.1rem 0 grey;background: dimgrey }
  33% {box-shadow: 1.1rem 0 dimgrey, -1.1rem 0 grey;background: grey}
  66% {box-shadow: 1.1rem 0 grey,-1.1rem 0 dimgrey; background: grey}
  100%{box-shadow: 1.1rem 0 grey,-1.1rem 0 dimgrey; background: dimgrey }
}

@media screen and (max-width: 1100px) {
  .displayed {
    display: none;
  }
}




