#wrapper-1 {
  height: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#wrapper-2 {
  margin-left: 3.2rem;
}

#wrapper-3 {
  margin: 1rem 4rem 0 0;
}

select {
  margin-top: 0.5rem;
  background-color: grey;
  border: 1px solid grey;
  width: 13rem;
  height: 2rem;
  border-radius: 0.2rem;
}

#house {
  display: flex;
  flex-direction: row;
}

#household-name {
  font-size: 2.5rem;
  text-decoration: none;
  color: lightgrey;
}

#household-name:hover {
  color: dimgray;
}

#arrow {
  color: darkgrey;
  font-size: 2rem;
  margin-left: 1rem;
}

#arrow:hover {
  cursor: pointer;
}

#more-info {
  min-width: 15rem;
  min-height: 2.5rem;
  border: 1px solid black;
  border-radius: 0.3rem;
  position: absolute;
  top: 5rem;
  left: 3rem;
  z-index: 2;
  background-color: #464956;
}

#householdNameLink {
  margin: 1rem 1rem 1rem 0.5rem;
  text-decoration: none;
  color: lightgrey;
}

#householdNameLink:hover {
  color: dimgrey;
}

#temp-and-humidity {
  font-size: 1rem;
  margin-top: 0.2rem;
  display: flex;
  flex-direction: row;
  color: lightgrey;
}

#humidity {
  margin-left: 0.5rem;
}

#humidity-sign {
  font-size: 0.8rem;
}

@media screen and (max-width: 960px) {
  #wrapper-3 {
    margin-right: 1rem;
  }
  #wrapper-2 {
    margin-left: 1rem;
  }
  #household-name {
    font-size: 1.5rem;
  }
  select {
    width: 8rem;
  }
  #humidity {
    margin-left: 0;
  }
}




