h3 {
  margin-left: 3.2rem;
  font-size: 2.5rem;
}

#input-device-name {
  margin-left: 3rem;
  margin-top: 1rem;
  color: lightgrey;
}

input[type="text"] {
  background-color: #2a2b33;
  border: 2px solid black;
  border-radius: 0.3rem;
  font-size: large;
  padding: 0.3rem;
}

input[type="text"]:focus {
  outline: none; /* Disable the default focus outline */
  color: lightgrey;
}

#no-devices {
  margin-left: 3.2rem;
}

#devices {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  padding: 0 1.2rem 0.5rem 1.2rem;
  list-style: none;
  background-color: #2a2b33;
}

.device-name-and-room {
  flex: 0 1 27%;
  height: auto;
  border-radius: 1rem;
  padding: 2rem 1rem 2rem 1rem;
  margin: 1rem;
  font-size: 1.8rem;
  background-color: #464956;
  min-width: 12rem;
}

.device-name-and-room:hover {
  box-shadow: 10px 10px 5px dimgrey;
}

@media screen and (max-width: 1430px) {
  .device-name-and-room {
    flex: 0 1 25%;
    margin: 0.7rem;
  }
}

@media screen and (max-width: 1350px) {
  .device-name-and-room {
    flex: 0 1 23%;
    margin: 0.5rem;
  }
}

@media screen and (max-width: 1100px) {
  .device-name-and-room {
    flex: 0 1 21%;
    margin: 0.3rem;
  }
}

#room-name {
  padding-left: 0.25rem;
  font-size: 1.25rem;
  color: lightgrey;
}

#device-name {
  position: relative;
  color: black;
  text-decoration: none;
  height: 9rem;
  border-bottom: 1px solid black;
}

#device-name-0 {
}

#device-name-1 {
  text-decoration: none;
  display: inline;
}

#offline-message {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 1.25rem;
  color: orange;
  padding-left: 0.25rem;
}

#room-name-and-switch {
  z-index: 2;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1rem 0.25rem 0 0.25rem;
}

.ai-controlled {
  border: darkviolet 2px solid;
  border-radius: 1.5rem;
  display: flex;
  flex-direction: row;
  padding: 0.3rem;
  animation: border-glow 2s infinite;
}

@keyframes border-glow {
  0% {
    border-color: darkviolet;
    box-shadow: 0 0 4px darkviolet;
  }
  50% {
    border-color: violet;
    box-shadow: 0 0 15px violet;
  }
  100% {
    border-color: darkviolet;
    box-shadow: 0 0 4px darkviolet;
  }
}

.ai-controlled-text {
  display: flex;
  align-items: center;
  margin-right: 0.3rem;
  font-size: 1.5rem;
  color: transparent;
  background-image: linear-gradient(45deg, royalblue, mediumpurple, red);
  -webkit-background-clip: text;
}

#show-smart-scenarios {
  font-size: 1.2rem;
  z-index: 1;
  position: absolute;
  bottom: 4rem;
  border-radius: 0.5rem;
  background-color: #464956;
  border: 1px solid darkviolet;
  padding: 0.3rem;
  color: transparent;
  background-image: linear-gradient(45deg, royalblue, mediumpurple, red);
  -webkit-background-clip: text;
}

#device-name-1:hover {
  color: dimgrey !important;
}

#no-device-found {
  min-height: 300px;
}

img {
  width: 1.5rem;
  height: auto;
}

#device-name-0-1 {
  display: flex;
  flex-direction: row;
}

#device-count {
  font-size: 1.5rem;
  width: 1.5rem;
  height: 1.5rem;
  background: lightgrey;
  text-align: center;
  border-radius: 50%;
}

.loading-outside {
  display: flex;
  height: 80vh;
}

.loading-inside {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 60%;
  position: relative;
}

.wifi-outside {
  width: 25px;
  height: 25px;
  background-color: darkgrey;
  border-radius: 50%;
  position: relative;
  animation: glow 3s forwards infinite;
  transform: translateY(50px);
}

@keyframes glow {
  0% {
    background-color: darkgrey;
  }
  5% {
    background-color: #7F00FF;
  }
  50% {
    background-color: #7F00FF;
  }
}

.wifi {
  width: 75px;
  height: 75px;
  border: 25px solid transparent;
  border-top-color: darkgrey;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: -50px;
  animation: glow1 3s forwards infinite;
}

@keyframes glow1 {
  15% {
    border-top-color: darkgrey;
  }
  20% {
    border-top-color: #7F00FF;
  }
  50% {
    border-top-color: #7F00FF;
  }
}

.wifi:before {
  content: "";
  width: 165px;
  height: 165px;
  border: 25px solid transparent;
  border-top-color: darkgrey;
  border-radius: 50%;
  position: absolute;
  top: -75px;
  left: -70px;
  animation: glow2 3s forwards infinite;
}

@keyframes glow2 {
  25% {
    border-top-color: darkgrey;
  }
  30% {
    border-top-color: #7F00FF;
  }
  50% {
    border-top-color: #7F00FF;
  }
}

.wifi:after {
  content: "";
  width: 260px;
  height: 260px;
  border: 25px solid transparent;
  border-top-color: darkgrey;
  border-radius: 50%;
  position: absolute;
  top: -125px;
  left: -117.5px;
  animation: glow3 3s forwards infinite;
}

@keyframes glow3 {
  35% {
    border-top-color: darkgrey;
  }
  40% {
    border-top-color: #7F00FF;
  }
  50% {
    border-top-color: #7F00FF;
  }
}

.switch {
  padding-right: 0.25rem;
  z-index: 2;
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

#arrow-up {
  background-color: transparent;
  font-size: 2.5rem;
  cursor: pointer;
  color: lightgrey;
  position: fixed;
  bottom: 1.6%;
  right: 22%;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #C3B1E1;
}

input:focus + .slider {
  box-shadow: 0 0 1px #C3B1E1;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round:before {
  border-radius: 50%;
}

span {
  border-radius: 1rem;
}

@media screen and (max-width: 1560px) {
  #arrow-up {
    right: 25%;
  }
}

@media screen and (max-width: 1430px) {
  #arrow-up {
    right: 28%;
  }
}

@media screen and (max-width: 1230px) {
  #arrow-up {
    right: 32%;
  }
}

@media screen and (max-width: 1200px) {
  #arrow-up {
    right: 35%;
  }
}

@media screen and (max-width: 960px) {
  #arrow-up {
    right: 13%;
  }
}


