#wrapper {
  margin: 1.5rem 1rem 1.5rem 1rem;
  min-height: 200px;
  position: fixed;
  bottom: 4rem;
  top: 8rem;
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  border-radius: 1rem;
}

h3 {
  color: lightgrey;
  font-size: 1.7rem;
  text-align: center;
  margin: 0.5rem;
}

ul {
  margin-right: 1rem;
  list-style: none;
  flex-grow: 1;
  overflow-y: auto;
  min-height: 0;
}

#inactive {
  color: darkgrey;
  font-size: 0.9rem;
}

#show-fullname {
  font-size: 1rem;
  z-index: 1;
  position: absolute;
  bottom: 1rem;
  color: lightgrey;
  border-radius: 0.5rem;
  background-color: #464956;
  border: 1px solid black;
  padding: 0.2rem;
}

#show-fullname-text {
  padding: 0.2rem;
}

#offline-status-text {
  padding: 0.2rem;
  font-size: 1rem;
}

#active-scenario:hover {
  cursor: pointer;
}

#scenarios {
  z-index: 2;
  position: relative;
  font-size: 1rem;
  background-color: #464956;
  border-radius: 0.5rem;
  padding: 0.4rem 0.4rem 0.4rem 0.4rem;
  margin-top: 0.6rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#all-scenarios {
  text-align: center;
  margin: 0.5rem 0.5rem 1rem 0.5rem;
}

#all-scenarios-1 {
  text-decoration: none;
  color: lightgrey;
  font-size: 1.3rem;
}

#all-scenarios-1:hover {
  color: dimgrey;
}

@media screen and (max-width: 1270px) {
  #wrapper {
    top: 11rem;
  }
}
