#allTypes {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  font-size: 1.2rem;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 0 1 auto;
  color: lightgrey;
}

li {
  padding: 0.2rem;
  margin: 0.2rem 0.2rem 0.2rem 0.2rem;
  cursor: pointer;
}

li:hover {
  color: dimgrey;
}



