* {
  padding: 0;
  margin: 0;
  background-color: #2a2b33;
}

#wrapper1 {
  display: flex;
  flex-direction: row;
  min-height: 83vh;
}

#wrapper2 {
  display: flex;
  flex-direction: column;
  flex: 1 1 618px;
}

aside {
  width: 360px;
}

#rooms {
  margin-right: 2rem;
  margin-top: 1rem;
}

#deviceTypes {
  margin-right: 2rem;
}

#chat-button {
  position: fixed;
  bottom: 1.7%;
  right: 1%;
  border: 2px solid darkviolet;
  border-radius: 1rem;
  padding: 0.8rem 0.4rem 0.4rem 0.4rem;
  font-size: 1.5rem;
  cursor: pointer;
  color: transparent; /* Make the text transparent */
  background-image: linear-gradient(45deg, dodgerblue, purple, red);
  -webkit-background-clip: text;
}

#chat-button-placeholder {
  width: 10.8rem;
  background-color: transparent;
}

#error-content {
  margin: 8rem 12rem 18rem 12rem;
  border: 1px solid #ffedea;
  background-color: #ffedea;
}

#error-title {
  background-color: #ffedea;
  text-align: center;
  color: brown;
}

#error-message {
  background-color: #ffedea;
  margin: 1.5rem;
  color: brown;
}

#error-button {
  background-color: #ffedea;
  color: brown;
  border-color: brown;
  margin-left: 1rem;
  margin-bottom: 1rem;
  padding: 0.2rem;
}

#error-button:hover {
  color: black;
  border-color: black;
  cursor: pointer;
}

@media screen and (max-width: 960px) {
  aside {
    display: none;
  }
  #chat-button {
    display: none;
  }
}


