#wrapper1{
  min-height: 83vh;
  display: flex;
  flex-direction: row;
  background-color: #2a2b33;
  color: lightgrey;
}

#wrapper2 {
  flex: 1 1 auto;
  margin-left: 3rem;
  margin-right: 3rem;
}

#roomNameAndDeviceCount {
  border-radius: 1rem;
  cursor: pointer;
  font-size: 1.75rem;
  padding: 1rem;
  margin: 1rem 20rem 1rem 3rem;
  background-color: #464956;
}

#roomNameAndDeviceCount:hover {
  box-shadow: 5px 5px 3px dimgrey;
}

#householdName {
  text-align: center;
  border-bottom: 1px solid black;
  font-size: 3rem;
}

#deviceCount {
  font-size: 1rem;
  margin: 0;
}

#devices {
  margin-top: 0.3rem;
  cursor: pointer;
  font-size: 1.2rem;
  border-top: 1px solid black;
  padding-top: 1rem;
}

#device:hover {
  color: dimgrey;
}

#device {
  padding-top: 0.5rem;
}

li {
  list-style: none;
}

#rooms {
  margin-left: 3.5rem;
  font-size: 2rem;
}

.displayed {
  flex: 0 0 10rem;
}

.wifi-inside{
  margin: auto auto 20% auto;
  position: relative;
}

.wifi-outside{
  margin: auto;
  width: 25px;
  height: 25px;
  background-color: #d5d5d5;
  border-radius:50%;
  position: relative;
  animation: glow 2s forwards infinite;
  transform: translateY(50px);
}

@keyframes glow {
  0%{
    background-color: #d5d5d5;
  }
  5%{
    background-color: #7F00FF;
  }
  50%{
    background-color: #7F00FF;
  }
}

.wifi{
  width: 75px;
  height: 75px;
  border: 25px solid transparent;
  border-top-color: #d5d5d5;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: -50px;
  animation: glow1 2s forwards infinite;
}
@keyframes glow1 {
  15%{
    border-top-color: #d5d5d5;
  }
  20%{
    border-top-color: #7F00FF;
  } 50%{
      border-top-color: #7F00FF;
    }
}
.wifi:before{
  content: "";
  width: 165px;
  height: 165px;
  border: 25px solid transparent;
  border-top-color: #d5d5d5;
  border-radius: 50%;
  position: absolute;
  top: -75px;
  left: -70px;
  animation: glow2 2s forwards infinite;
}
@keyframes glow2 {
  25%{
    border-top-color: #d5d5d5;
  }
  30%{
    border-top-color: #7F00FF;
  } 50%{
      border-top-color: #7F00FF;
    }
}
.wifi:after{
  content: "";
  width: 260px;
  height: 260px;
  border: 25px solid transparent;
  border-top-color: #d5d5d5;
  border-radius: 50%;
  position: absolute;
  top: -125px;
  left: -117.5px;
  animation: glow3 2s forwards infinite;
}
@keyframes glow3 {
  35%{
    border-top-color: #d5d5d5;
  }
  40%{
    border-top-color: #7F00FF;
  } 50%{
      border-top-color: #7F00FF;
    }
}

#error {
  min-width: 78.7%;
}

#error-content {
  margin: 5rem;
  border: 1px solid #ffedea;
  background-color: #ffedea;
}

#error-title {
  text-align: center;
  color: brown;
}

#error-message {
  margin: 1.5rem;
  color: brown;
}

#error-button {
  background-color: #ffedea;
  color: brown;
  border-color: brown;
}

#error-button:hover {
  color: black;
  border-color: black;
  cursor: pointer;
}

@media screen and (max-width: 1100px) {
  .displayed {
    display: none;
  }

@media screen and (max-width: 1010px) {
  #roomNameAndDeviceCount {
    margin-right: 3rem;
  }
}

}
